﻿body {
	color: black;
    background-image: url('Elegant_Background-7a.jpg');
    background-size: 100%;
          
}

.jumbotron {
    color: white;
    background-image: url('Elegant_Background-17a.jpg');
    background-size: 100%;
}

.col-md-4:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}

.readouts-container {
    overflow-y: scroll;
    height: 500px;
    max-height: 500px;
}
<<<<<<< HEAD
=======

.page-header {
    padding-top: 1px;
}
>>>>>>> 7381f6cc2e2a0e7dc03145b4fa134f285e09cc5a
