body {
	color: black;
    background-image: url('Elegant_Background-7a.jpg');
    background-size: 100%;
          
}

.jumbotron {
    color: white;
    background-image: url('Elegant_Background-17a.jpg');
    background-size: 100%;
}

.col-md-4:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}